@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #050505;
  color: #ffffff;
  overflow-x: hidden;
}

/* Premium Gold Seçim Rengi */
::selection {
  background-color: rgba(212, 175, 55, 0.3);
  color: #ffffff;
}